.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* My Css */
.route-container{
  height:100%
}

div.colour-pallets > div {
  height: 100px;
  width: 100px;
  display: inline-block;
  color: rgba(0,0,0,0);
  cursor:default;
}

div.theme-first{
  background: linear-gradient(#2193b0,#6dd5ed);
}
div.theme-second{
  background: linear-gradient(#ffafbd, #ffc3a0);
}
div.theme-third{
  background: linear-gradient(#cc2b5e, #753a88);
}
div.theme-fourth{
  background: linear-gradient(#42275a, #734b6d);
}
div.theme-fifth{
  background: linear-gradient(#de6262, #ffb88c);
}
div.theme-sixth{
  background: linear-gradient(#eb3349, #f45c43);
}
div.theme-seventh{
  background: linear-gradient(#56ab2f, #a8e063);
}
div.theme-eighth{
  background: linear-gradient(#614385, #516395);
}
