.onlineUser-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    border-radius: 10px;
}
.onlineUser-item{
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px 8px;
    background: rgba(164, 164, 175, 0.19);
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.31);

    color: #f1f5f1;
    cursor: default;
}
